html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-image: url("./Space-Background.jpg");
  background-size: cover;
}

.app {
  max-width: 500px;
  margin: auto;
  font-family: sans-serif;
  gap: 16px;
}

input {
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 5px 0;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
  font: 20px italic;
}

button:hover {
  color: gray;
}

button:disabled {
  opacity: 0.4;
}
