html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.app {
  max-width: 500px;
  margin: auto;
  font-family: sans-serif;
  gap: 16px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 0;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

button:disabled {
  opacity: 0.4;
}
